<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hello Vue Forms</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

<div id="app">

<!-- Name input -->
<label>Please enter your name:</label>  
<input v-model="name">

<!-- If the user begins typing into the input display it -->
<p v-if="name">Thanks your name is {{ name }}</p>
<!-- Else display "Awaiting user input" -->
<p v-else>Awaiting user input</p>

<!-- Clear name button -->
<button v-on:click="clearName">Clear</button>
</div>

<script>

    const{ createApp, ref } = Vue

    createApp({
        setup() {
            // Blank name variable to be filled by user
            const name = ref('')

            // Function to clear the name
            function clearName() {
                name.value = ''
            }
            return {
                name,
                clearName
            }
        }
    }).mount('#app')
</script>
</body>
</html>