<!DOCTYPE html>
<html lang="en">
<head>
  <title>Club Membership</title>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


  <style>
      /* Style for selected student */
      .selected {
        text-decoration: line-through ;
        font-style: italic;
        color: gray;
      }

      /* Input style */
      input {
          width: 100%;
          padding: 5px;
          margin: 5px 5px 5px 0px;
          box-sizing: border-box;
      }

  </style>

</head>
<body>

<!-- This div contains all the HTML elements -->
<!-- The id 'app' is used to mount the Vue app to this div -->
<div id="app">
    <h1>Student Club Roster</h1>

    <h2>Add Students</h2>

    <label for="student-name">Student Name</label>
    <!-- Student name input -->
    <input id="student-name" name="student-name" v-model="newStudentName">

    <br>

    <label for="student-id">Student ID</label>
    <!-- Student ID input -->
    <input id="student-id" name="student-id" v-model="newStudentId">

    <br>

    <label for="student-gpa">Student GPA</label>
    <!-- GPA input -->
    <input id="student-gpa" name="student-gpa" type="number" v-model="newStudentGpa" min="0" max="4">

    <br>

    <!-- Add student button, adds the new student to the list -->
    <!-- '@click' is the same as 'v-on:click' -->
    <button id="add-student" @click="addNewStudent">Add Student</button>    

    <h2>Student List</h2>

    <p>
        <span id="student-count">
        <!-- Displays the number of students in the list -->
        {{ studentCount }} {{ studentCountLabel }} enrolled in the club.
        </span> 
    </p>
    

    <ul id="student-list">
        <!-- Displays the student list -->
        <!-- Can select/unselect student by clicking on it -->
        <li v-for="student in studentList" v-on:click="selectOrUnselectStudent(student)" v-bind:class="{ selected: student.selected }">
            <!-- Formatted string displays the student data -->
            {{ student.name }}, ID: {{ student.id }}, GPA: {{ student.gpa }} 
        </li>
    </ul>
    

    <!-- Remove selected student(s) button -->
    <button id="remove-selected-students" @click="removeSelectedStudents">Remove selected students</button>

</div>  

<script>

    // Vue app setup
    const { createApp, ref, computed } = Vue 

    createApp({
        setup() {

            // Student list array with some starter data
            const studentList = ref([
                { name: 'Stan', id: '1234', gpa: 3.5, selected: false },
                { name: 'Kyle', id: '5678', gpa: 3.8, selected: false },
                { name: 'Jarvis', id: '9101', gpa: 2.9, selected: false }
            ])
            
            // Empty refs(variables) to hold the new student data
            newStudentName = ref('')
            newStudentId = ref('')
            newStudentGpa = ref('')

            //  Empty array to store error messages
            const errors = ref([])

            // Student count computed property gets the length of the student list
            const studentCount = computed(() => {
                return studentList.value.length
            })

            // Computed property to use either student or students based on the number of students
            const studentCountLabel = computed(() => {
                // If the studentCount is 1, return student otherwise return students
                return studentCount.value === 1 ? 'student' : 'students'
            })

            const addNewStudent = () => {


                // Set the errors value to an empty array 
                errors.value = []

                // Validation for the new student data
                // Ensures each input contains a value and that the GPA is a number between 0 and 4
                // If any of the checks fail, add the error message to the errors array
                if (!newStudentName.value) {
                    errors.value.push('Name is required')
                }
                if (!newStudentId.value) {
                    errors.value.push('ID is required')
                }
                if (!newStudentGpa.value) {
                    errors.value.push('GPA is required')
                }
                if (isNaN(newStudentGpa.value)) { // If not a number
                    errors.value.push('GPA must be a number')
                }
                if (newStudentGpa.value < 0 || newStudentGpa.value > 4) {
                    errors.value.push('GPA must be between 0 and 4')
                }

                // If there are any errors display them in an alert box
                if (errors.value.length > 0) {
                    alert(errors.value.join('\n'))
                } else {
                    // Create a new student object using the values from the input fields
                    // 'Selected' is set to false by default
                    newStudent = {
                        name: newStudentName.value,
                        id: newStudentId.value,
                        gpa: newStudentGpa.value,
                        selected: false
                    }
                    // Add the new student to the student list and clear the input fields
                    studentList.value.push(newStudent)
                    newStudentName.value = ''
                    newStudentId.value = ''
                    newStudentGpa.value = ''
                }
            }

            const removeSelectedStudents = () => {
                // Filter the list to find the selected student(s) and remove them from the list
                studentList.value = studentList.value.filter(student => !student.selected)
            }


            const selectOrUnselectStudent = (student) => {
                // This function is completed for you. If the selected property is true, it is changed to false. 
                // if the selected property is false, it is changed to true. 
                student.selected = !student.selected
            }


            return {
                // refs 
                studentList,
                newStudentName,
                newStudentId,
                newStudentGpa,
                errors,
                // Computed properties
                studentCount,
                studentCountLabel,
                // Methods
                addNewStudent,
                selectOrUnselectStudent,
                removeSelectedStudents
            }
        }
    }).mount('#app')


</script>

</body>
</html>