<h1>Thankyou for your feedback!</h1>

<h2>Please confirm your submission is correct</h2>

<h3>Name: {{name}}</h3>
<h3>Email: {{email}}</h3>
<h3>Feedback: {{message}}</h3>
<h3>Current Student: {{currentStudent}}</h3>

<a href="/">Return to the home page</a>